resources:
- type: cloudfunctions.v1.function
  name: my-function
  properties:
    parent: projects/{{ env['project'] }}/locations/{{ properties['region'] }}
    location: {{ properties['region'] }}
    function: my-{{ env['deployment'] }}
    sourceArchiveUrl: gs://$(ref.{{ BUCKET }}.name)/my-function
    entryPoint: {{ properties['entryPoint'] }}
    runtime: {{ properties['runtime'] }}
    eventTrigger:
      resource: $(ref.my-topic.name)
      eventType: providers/cloud.pubsub/eventTypes/topic.publish
- type: pubsub.v1.topic
  name: my-topic
  properties:
    topic: {{ env['deployment'] }}-topic
- type: storage.v1.bucket
  name: {{ BUCKET }}
  properties:
    predefinedAcl: projectPrivate
    projection: full
    location: US
    storageClass: STANDARD